:root {
    --card-size: 100px;
    --transition: all 1s
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.card-backside {
    width: var(--card-size);
    height: var(--card-size);
    transition: var(--transition);
    position: relative;
}

.card-backside:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #5d4b4a;
}

.card-selected {
    width: var(--card-size);
    height: var(--card-size);
    transition: var(--transition);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.7), 
                0 0 30px 10px rgba(0, 255, 255, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1.05);
}

.card-wrong {
    width: var(--card-size);
    height: var(--card-size);
    box-shadow: 0 0 20px 5px red;
    transition: box-shadow 0.3s;
}

.card-correct {
    width: var(--card-size);
    height: var(--card-size);
    transition: var(--transition);
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.7), 
                0 0 30px 10px rgba(0, 255, 255, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1.05); 
}

img {
    width: 100%;
}